src/main/resources/WEB-INF/wsdl/WeatherComparator_schema2.xsd

<?main.java.xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:ns1="http://www.example.org/WeatherComparator/">

  <xs:import namespace="http://www.example.org/WeatherComparator/" schemaLocation="WeatherComparator_schema1.xsd"/>

  <xs:element name="forecastDays" nillable="true" type="ns1:ManyDays"/>

  <xs:element name="forecastPeriod" type="xs:int"/>

  <xs:element name="result" nillable="true" type="ns1:weatherSummary"/>
</xs:schema>

