WebContent/WEB-INF/wsdl/Kalkulator_schema2.xsd

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<xs:schema version="1.0" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="arg1" type="xs:int"/>

  <xs:element name="arg2" type="xs:int"/>

  <xs:element name="quotient" nillable="true" type="xs:int"/>

  <xs:element name="remainder" nillable="true" type="xs:int"/>

  <xs:element name="result" type="xs:int"/>
</xs:schema>

