WebContent/WEB-INF/wsdl/Kalkulator.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is JAX-WS RI 2.2.9-b130926.1035 svn-revision#5f6196f2b90e9460065a4c2f4e30e065b245e51e. -->
<definitions targetNamespace="http://www.example.org/kalkulator/" name="kalkulator" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:tns="http://www.example.org/kalkulator/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata">
  <types>
    <xsd:schema>
      <xsd:import namespace="http://www.example.org/kalkulator/" schemaLocation="Kalkulator_schema1.xsd"/>
    </xsd:schema>
  </types>
  <message name="div">
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="divResponse">
    <part name="quotient" type="xsd:int"/>
    <part name="remainder" type="xsd:int"/>
  </message>
  <message name="mul">
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="mulResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="sub">
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="subResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <message name="add">
    <part name="arg1" type="xsd:int"/>
    <part name="arg2" type="xsd:int"/>
  </message>
  <message name="addResponse">
    <part name="result" type="xsd:int"/>
  </message>
  <portType name="kalkulator">
    <operation name="div" parameterOrder="arg1 arg2 quotient remainder">
      <input wsam:Action="http://www.example.org/kalkulator/div" message="tns:div"/>
      <output wsam:Action="http://www.example.org/kalkulator/kalkulator/divResponse" message="tns:divResponse"/>
    </operation>
    <operation name="mul" parameterOrder="arg1 arg2">
      <input wsam:Action="http://www.example.org/kalkulator/mul" message="tns:mul"/>
      <output wsam:Action="http://www.example.org/kalkulator/kalkulator/mulResponse" message="tns:mulResponse"/>
    </operation>
    <operation name="sub" parameterOrder="arg1 arg2">
      <input wsam:Action="http://www.example.org/kalkulator/sub" message="tns:sub"/>
      <output wsam:Action="http://www.example.org/kalkulator/kalkulator/subResponse" message="tns:subResponse"/>
    </operation>
    <operation name="add" parameterOrder="arg1 arg2">
      <input wsam:Action="http://www.example.org/kalkulator/add" message="tns:add"/>
      <output wsam:Action="http://www.example.org/kalkulator/kalkulator/addResponse" message="tns:addResponse"/>
    </operation>
  </portType>
  <binding name="kalkulatorSOAPBinding" type="tns:kalkulator">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="rpc"/>
    <operation name="div">
      <soap:operation soapAction="http://www.example.org/kalkulator/div"/>
      <input>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </output>
    </operation>
    <operation name="mul">
      <soap:operation soapAction="http://www.example.org/kalkulator/mul"/>
      <input>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </output>
    </operation>
    <operation name="sub">
      <soap:operation soapAction="http://www.example.org/kalkulator/sub"/>
      <input>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </output>
    </operation>
    <operation name="add">
      <soap:operation soapAction="http://www.example.org/kalkulator/add"/>
      <input>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </input>
      <output>
        <soap:body use="literal" namespace="http://www.example.org/kalkulator/"/>
      </output>
    </operation>
  </binding>
  <service name="kalkulator">
    <port name="kalkulatorSOAP" binding="tns:kalkulatorSOAPBinding">
      <soap:address location="REPLACE_WITH_ACTUAL_URL"/>
    </port>
  </service>
</definitions>

